<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="es">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>User managment</title>
</head>
<body>
<div class="container text-center">
    <h1 class="d-inline bg-dark text-light" th:text="${title}"></h1>
    <div class="d-flex justify-content-center align-items-center m-2">
        <form th:action="@{/user/form}" method="POST" th:object="${user}" class="p-2 w-50 rounded" style="background-color: #DEDEDE;">

            <div th:if="${edit}">
                <input hidden th:field="*{dni}">
            </div>
            <div th:if="${!edit}" class="m-2">
                <div>
                    <label>DNI</label>
                </div>
                <div>
                    <input
                            class="text-center"
                            type="text"
                            th:field="*{dni}"
                    >
                    <!-- Error -->
                    <div th:if="${errors != null && errors.containsKey('dni')}" style="color:red;">
                        <p th:text="${errors.get('dni')}"></p>
                    </div>
                </div>
            </div>

            <div class="m-2">
                <div>
                    <label>Name</label>
                </div>
                <div>
                    <input
                            class="text-center"
                            type="text"
                            th:field="*{name}"
                            placeholder="Bill">
                </div>
                <!-- Error -->
                <div th:if="${errors != null && errors.containsKey('name')}" style="color:red;">
                    <p th:text="${errors.get('name')}"></p>
                </div>
            </div>

            <div class="m-2">
                <div>
                    <label>Last Name</label>
                </div>
                <div>
                    <input
                            class="text-center"
                            type="text"
                            th:field="*{lastName}"
                            placeholder="Gates"
                    >
                    <!-- Error -->
                    <!-- Error -->
                    <div th:if="${errors != null && errors.containsKey('lastName')}" style="color:red;">
                        <p th:text="${errors.get('lastName')}"></p>
                    </div>
                </div>
            </div>
            <div class="m-2">
                <div>
                    <label>Email</label>
                </div>
                <div>
                    <input
                            class="text-center"
                            type="text"
                            th:field="*{email}"
                            placeholder="test@gmail.com"
                    >
                    <!-- Error -->
                    <!-- Error -->
                    <div th:if="${errors != null && errors.containsKey('email')}" style="color:red;">
                        <p th:text="${errors.get('email')}"></p>
                    </div>
                </div>
            </div>

            <div class="m-2">
                <div>
                    <label>Phone</label>
                </div>
                <div>
                    <input
                            class="text-center"
                            type="text"
                            th:field="*{phone}"
                            placeholder="+54 11 4353231"
                    >
                    <!-- Error -->
                    <!-- Error -->
                    <div th:if="${errors != null && errors.containsKey('phone')}" style="color:red;">
                        <p th:text="${errors.get('phone')}"></p>
                    </div>
                </div>
            </div>

            <div class="m-2">
                <label>Date of Birth</label>
                <input
                        class="text-center"
                        type="date"
                        th:field="*{dateBirth}"
                >
                <!-- Error -->
                <!-- Error -->
                <div th:if="${errors != null && errors.containsKey('dateBirth')}" style="color:red;">
                    <p th:text="${errors.get('dateBirth')}"></p>
                </div>
            </div>

            <div class="m-2">
                <label>Profession</label>
                <select th:field="*{profession}" class="text-center" name="profession">
                    <option value="#" disabled selected>--- Select An Option ---</option>
                    <option th:each="prof : ${professions}" th:value="${prof}" th:text="${prof.name}"></option>
                </select>
            </div>

            <div class="m-2">
                <button class="btn btn-primary">Save Changes</button>
            </div>
        </form>
    </div>
    <div>
        <a class="btn btn-success" th:href="@{/user}">Back to List of Users</a>
    </div>
    <a th:href="@{/}">Home</a>
</div>
</body>
</html>