body {
    text-align: center;
}

table {
    text-align: center;
    border-collapse: collapse;
}

table, .col, td {
    border: 1px solid;
}

.text-center{
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.col-header {
    height: 45px;
    width: 50px;
}
.rows {
    height: 30px;
}

.button {
    padding: 0px 25px;
    border: 1px solid;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.btn-edit{
    background-color: #FCFF33;
}
.btn-delete{
    background-color: #FF0000;
    color: white;
}
.btn-new{
    background-color: #0046FF;
    color: white;
    font-size: 25px;
}

form{
    width: 20%;
    padding: 2px;
    border: 1px solid;
    background-color: #C8C8C8;
    border-radius: 25px;
}

.field {
    margin: 8px 0px;
}