<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" th:href="@{/images/favicons/listUsers.ico}" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title th:text="${title}"></title>
    </head>
    <body style="background-color: #6DD3FF;">
        <div class="container text-center">
            <h1 class="d-inline bg-dark text-light" th:text="${title}"></h1>

            <div th:if="${users.isEmpty()}" class="m-3 alert alert-danger">
                <h3>No registered users :(</h3>
            </div>
            <table th:if="${users.size > 0}" class="m-2 table table-light table-hover">
                <thead>
                <tr class="col-header">
                    <th>DNI</th>
                    <th>Name</th>
                    <th>LastName</th>
                    <th>Date of Birth</th>
                    <th>Profession</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr th:each="user : ${users}">
                    <td th:text="${user.dni}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${#dates.format(user.dateBirth, 'yyyy/MM/dd')}"></td>
                    <td th:text="${user.profession.name}"></td>
                    <td><a class="btn btn-warning" th:href="@{/user/form(dni=${user.dni})}">Edit</a></td>
                    <td><a class="btn btn-danger" th:href="@{/user/delete(dni=${user.dni})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
            <div class="m-2">
                <a class="btn btn-primary" th:href="@{/user/form}">Add new Person</a>
            </div>
            <a class="text-dark" th:href="@{/}">Home</a>
        </div>
    </body>
</html>